modules = ["python-3.11"]
run = "pip install -q -r requirements.txt && python app.py"
entrypoint = "app.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["python", "app.py"]

[[ports]]
localPort = 5000
externalPort = 80
