run = "pip install -q -r requirements.txt && python main.py --help"
entrypoint = "main.py"
modules = ["python-3.10"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["python", "main.py"]

[[ports]]
localPort = 8080
externalPort = 80
